@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';

// @media (min-width: 764px){
//     .container {
//         background-color: pink;
//         }
//     }    
        
// @media (min-width: 1024px){
//     .container {
//         background-color: yellowgreen;
//         }
//     }

body  {
    background-image: url(../assets/images/pattern_05.gif);
    background-repeat: repeat;
    }

.copy   {
    color: green;
        }

.footer {
    font-family: $heading_secondary_font;
    font-size: 11px;
    text-align: center;
    color: $dark_color;
    }
