@import './vendor/normalize';
@import './partials/colors';
@import './partials/mixins';
@import './partials/typography';

html, body {
    background-image: url(../assets/images/pattern_05.gif);
    background-repeat: repeat;
    padding: 1em;
    color: #414141;
    height: 100%;
  }

nav {
        a   {
            text-decoration: none;
            color: $primary_color;
        }
    }

.footer {
    text-align: center;
    }
.list {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    }
.main-container {
    padding: 2em;
    margin: 1em 0;
    }
.sidebar {
    margin: 1em 0;
    }

@media (min-width: 1024px) {
     .main-container {
        display: flex;
        flex-direction: row;
      }
    .post   {
        flex-basis: 50%;
    }
    .sidebar {
        flex-basis: 40%;
    }
}